<!DOCTYPE html>
<html>
<head>
  <title>Start Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    #image-div {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 300px;
      background: #fff;
      border: 1px solid #ccc;
      z-index: 9999;
      padding: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Start Page</h1>
    <p>Choose an option below:</p>
    <div class="btn-group" role="group">
      <a href="#" class="btn btn-primary" id="click-button">Click</a>
      <a href="#" class="btn btn-primary" id="info-button">Info</a>
    </div>
  </div>
  
  <div id="image-div">
    <button type="button" class="close" id="close-button" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <img src="https://via.placeholder.com/300" alt="placeholder image" class="img-fluid">
    <div class="mt-3 text-center">
      <p>This is some text that will appear in a box at the center of the screen.</p>
    </div>
  </div>
  {% if ans is not none %}
</head>
<body>
    <div class="box-container">
        <div class="box-heading">You can sit at {{ ans[1] }}</div>
        <img class="box-image" src="../static/img/{{ans[0]}}" alt="Mess Map">
        <div class="box-buttons">
            <button class="box-density-button">See Density</button>
            <button class="box-close-button">Back</button>
        </div>
        <table class="density-table">
            <thead>
                <tr>
                    <th>Area</th>
                    <th>Capacity</th>
                    <th>Empty</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>LeftSide L1</td>
          <td>16</td>
          <td>{{ans[2][0]}}</td>

                </tr>
                <tr>
                    <td>RightSide L1</td>
                    <td>16</td>
          <td>{{ans[2][1]}}</td>
                </tr>
                <tr>
                    <td>LeftSide L2</td>
                    <td>16</td>
          <td>{{ans[2][2]}}</td>
                </tr>
                <tr>
                    <td>RightSide L2</td>
                    <td>16</td>
          <td>{{ans[2][3]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        var box = document.querySelector(".box-container");
        var closeButton = document.querySelector(".box-close-button");
        var densityButton = document.querySelector(".box-density-button");
        var densityTable = document.querySelector(".density-table");
    function closeBox() {
        box.style.display = "none";
    }

    function showDensityTable() {
        densityTable.style.display = "block";
    }

    closeButton.addEventListener("click", closeBox);
    densityButton.addEventListener("click", showDensityTable);
</script>


    {% endif %}
  <footer class="bg-light py-3">
    <div class="container">
      <a href="{{ url_for('home') }}">Home</a>
    </div>
  </footer>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#click-button').click(function() {
        $('#image-div').fadeIn();
      });
      
      $('#info-button').click(function() {
        alert('This is some info.');
      });
      
      $('#close-button').click(function() {
        $('#image-div').fadeOut();
      });
    });
  </script>
</body>
</html>
